<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Lista de alunos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let a of alunos; let i = index">
      <ion-item>
        <p>Nome: {{a.nome}} Nota: {{a.nota}}</p>
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="danger" (click)="remove(i)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="a.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nota</ion-label>
      <ion-input type="text" [(ngModel)]="a.nota"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button shape="round" color="dark" (click)="save()">
        <ion-icon name="save"></ion-icon>
         Salvar
      </ion-button>
    </ion-item>
    
  </ion-list>
</ion-content>
