<ion-header>
  <ion-toolbar>
    <ion-title>
      Bem vindo!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button shape="round" color="dark" routerLink="/triangulo">
        <ion-icon name="calculator"></ion-icon>
         Triângulo
      </ion-button> 
    </ion-item>
    <ion-item>
      <ion-button shape="round" color="dark" routerLink="/lista">
        <ion-icon name="list"></ion-icon>
         Lista Alunos
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
