ion-header {
    text-align: center;
}
ion-button {
    width: 80%;
    margin: 0 auto;
}
.entrada {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.entrada ion-label {
    margin: 0 auto;
}
.entrada h2 {
    margin: 20px auto 0px auto;
    border: solid black 1px;
    border-radius: 5px;
    padding: 10px 20px;
    width: 90%;
}
